body {
  background-color: $colour-background;
  font-family: $font-main;
}

a {
  color: $colour-link;
  transition: background-color 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
}

h1 {
  color: $colour-primary;
}

h2, h3, h4, h5, h6 {
  color: $colour-secondary;
}

#main {
  margin: 10px auto;
  max-width: 1000px;
  padding: 10px;
}

a.site-title {
  text-decoration: none;
  h1 {
    background: url("../images/home.svg") no-repeat;
    background-size: 60px;
    background-color: $colour-secondary;
    color: $colour-primary;
    font-size: 24px;
    padding: 20px 0 20px 80px;
    margin: 0;
    transition: background-color 0.7s ease;
    &:hover {
      background-color: $colour-link;
    }
  }
}

a.site-footer {
  text-decoration: none;
  h1 {
    background: url("../images/like.svg") center no-repeat;
    background-size: 30px;
    padding: 20px 0 20px 100px;
    text-align: center;
    color: $colour-background;
    transition: all 1s ease;
    &:hover {
      background-color: $colour-background;
      color: $colour-primary;
    }
  }
}
