html {
  scroll-behavior: smooth;
}

body {
  background-color: $colour-background;
  font-family: $font-main;
}

a {
  color: $colour-link;
  transition: background-color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

h2 {
  color: $colour-secondary;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.inline-svg {
  display: inline-block;
  vertical-align: middle;
}
