#site-header {
  background-color: $colour-secondary;
  position: fixed;
  padding: 5px 0;
  width: 100vw;
  border-bottom: 1px solid $colour-primary;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .site-title {
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
      }
    }

    .scroll-nav {
      width: 300px;
      display: flex;
      align-items: center;

      .speed-slider {
        margin-right: 30px;

        .rc-slider-handle {
          border: 0;
          background-color: $colour-primary;
        }
      }

      button {
        background-color: transparent;
        color: $colour-primary;
        border: 0;
        padding-top: 10px;
        font-size: 30px;

        &:focus {
          outline: 0;

          svg {
            stroke: lighten($colour-primary, 5%);
          }
        }

        &:hover {
          color: darken($colour-primary, 2%);
        }
      }
    }

    // .util-nav {
    //   display: flex;
    //   align-items: center;
    //   list-style: none;
    //   font-size: 30px;
    //   margin: 0;
    //   padding: 0;

    //   .scroll-speed-label {
    //     color: $colour-primary;

    //     padding: 10px;
    //     line-height: 2;
    //   }

    // }
  }
}
