.filters {

  label {
    margin-right: 1rem;
  }

  input {
    padding: 10px;
    border: 1px solid $colour-primary;
  }
}

.songbook {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 5px;

  .song-card {
    border: 1px solid $colour-primary;

    a {
      display: flex;
      flex-direction: column;
      padding: 30px;
      text-decoration: none;
      transition: all 0.4s ease;

      &:hover {
        background-color: $colour-link;
        color: $colour-background;
        .artist {
          color: $colour-primary;
        }
      }

      .song-title,
      .artist {
        font-family: $font-title;
      }

      .song-title {
        font-size: 18px;
      }

      .artist {
        font-size: 16px;
        color: $colour-text;
        padding-top: 5px;
      }
    }
  }
}
