#main {
  padding: 60px 0;

  header {
    padding: 1rem 0;
    border-bottom: 1px solid $colour-primary;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
