.song-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px dotted $colour-text;
  padding: 10px;

  h1, h2, h3 {
    padding: 0 20px;
  }

  h2 {
    color: $colour-secondary;
  }

  h3 {
    color: $colour-text;
  }
}

.song {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 10px 0 10px;
  font-size: 20px;

  .chord-sheet {

    .row {
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;

      .column {
        margin-right: 0.2rem;

        // .lyrics {

        // }

        .chord {
          font-family: $font-title;
          color: $colour-chord;
          font-size: 16px;
          font-weight: bold;
          min-width: 40px;

          // &:after {
          //   content: '\200b';
          // }

          &:empty {
            color: $colour-primary;
            min-width: 0;

            &:after {
              content: ".";
            }
          }
        }
      }
    }

    .empty-line {
      height: 1rem;
    }
  }
}