.song {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 20px;

  .chord-sheet {

    .paragraph {
      margin-bottom: 2rem;

      .row {
        // padding-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;

        .column {
          margin-right: 0.2rem;

          .chord {
            font-family: $font-title;
            color: $colour-chord;
            font-size: 16px;
            font-weight: bold;
            min-width: 40px;
            min-height: 20px;
            padding-top: 0.5rem;

            &:empty {
              min-width: 0;
            }
          }
        }
      }

      .empty-line {
        height: 1rem;
      }
    }
  }
}

.youtube {
  border-top: 1px solid $colour-primary;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
