// colours
$colour-background: white;
$colour-chord: #1d55ab;
$colour-link: #1e50d8;
$colour-primary: #c5cc00;
$colour-primary-muted: #c5cc0020;
$colour-secondary: #1c5a7e;
$colour-text: black;

// fonts
$font-main: 'Cabin', serif;
$font-title: 'Aleo', sans-serif;