body {
  background: url('../images/main-bg.png');
  background-color: #6c7045;
  font-family: $main-font;
}

a {
  color: $colour-links;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $colour-primary;
}

img {
  max-width: 100%;
}

table {
  width: 100%;
}

#root {
  background-color: $colour-background;
  margin: 20px auto;
  max-width: 960px;
  padding: 20px;
}

.site-title {
  color: $colour-secondary;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none !important;
}
