body {
  background-color: $colour-background;
  // background: url('../images/main-bg.png');
  // background-color: $colour-secondary;
}

a {
  color: $colour-link;
}

h1, h2, h3, h4, h5, h6 {
  color: $colour-primary;
}

#main {
  margin: 20px auto;
  max-width: 750px;
  padding: 20px 5px;;
}

.site-title {
  text-decoration: none;
  h1 {
    background-color: $colour-secondary;
    color: $colour-background;
    font-size: 24px;
    padding: 20px;
  }
}