.sheet {
  max-width: 600px;
  margin: 0 auto;

  h2 {
    color: $colour-secondary;
    margin-bottom: 30px;
  }
}


.song {
  font-size: 22px;

  .chord-sheet {
    .row {
      padding-top: 0.5rem;
      
      .column {
        display: inline-block;
        margin-right: 0.5rem;

        .chord {
          color: $colour-primary;
          font-weight: bold;
          font-style: italic;
        }
      }
    }

    .empty-line {
      height: 2rem;
      // background-color: purple;
    }
  }
}