// colours
$colour-primary: hsl(59, 72%, 48%);
$colour-secondary: #1c5a7e;
$colour-background: #f4f4f4;
$colour-text: #373737;
$colour-link: #1e50d8;
$colour-border: rgba(55, 55, 55, 0.2);

// fonts
$font-main: 'Playfair Display', serif;
$font-title: 'Playfair Display', serif;
$font-mono: 'Courier', monospace;
