// colours
$colour-primary: #465858;
$colour-secondary: #6c7045;
$colour-background: #f4f4f4;
$colour-text: #373737;
$colour-link: #1e50d8;

// fonts
// 
$font-main: 'PT Serif', serif;
$font-title: 'PT Serif', serif;
$font-mono: 'PT Mono', monospace;