// colours
$pale-gold: #c0b283;
$silk: #dcd0c0;
$green: #437743;
$paper: #f4f4f4;
$charcoal: #373737;
$blue: blue;

// colour usage
$colour-primary: $pale-gold;
$colour-secondary: $silk;
$colour-background: $paper;
$colour-text: $charcoal;
$colour-links: $blue